.Navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 48px;
  min-width: 300px;
}

.NavLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #D4F1F4;
  color: #05445E;
  font-size: 36px;
  margin-bottom: 32px;
  border-radius: 10%;
}

.Navigation h1 {
  margin: 0;
}
